<h1>Welcome to Restaurants</h1>
<% @restaurants.each do |restaurant| %>
<li><%= restaurant.name %> <%= restaurant.address %></li>
<p><%= link_to "Show this restaurant", restaurant,class: "btn btn-primary" %></p>
<% end %>
